<div class="wrap" @pageAnimation>
  <div class="head">
    <h2>Каталог</h2>
    <div class="head-btns">
      <svg [ngClass]="{'active': isList}" (click)="toggleView(true)" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="48"
          d="M144 144h320M144 256h320M144 368h320" />
        <path fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="32"
          d="M64 128h32v32H64zM64 240h32v32H64zM64 352h32v32H64z" />
      </svg>
      <svg [ngClass]="{'active': !isList}" (click)="toggleView(false)" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <rect fill="currentColor" x="48" y="48" width="112" height="112" rx="8" ry="8" />
        <rect fill="currentColor" x="200" y="48" width="112" height="112" rx="8" ry="8" />
        <rect fill="currentColor" x="352" y="48" width="112" height="112" rx="8" ry="8" />
        <rect fill="currentColor" x="48" y="200" width="112" height="112" rx="8" ry="8" />
        <rect fill="currentColor" x="200" y="200" width="112" height="112" rx="8" ry="8" />
        <rect fill="currentColor" x="352" y="200" width="112" height="112" rx="8" ry="8" />
        <rect fill="currentColor" x="48" y="352" width="112" height="112" rx="8" ry="8" />
        <rect fill="currentColor" x="200" y="352" width="112" height="112" rx="8" ry="8" />
        <rect fill="currentColor" x="352" y="352" width="112" height="112" rx="8" ry="8" />
      </svg>
    </div>
  </div>
  <div class="body">
    <app-catalog-list *ngIf="isList" [goods]="goods"></app-catalog-list>
    <app-catalog-apps *ngIf="!isList" [goods]="goods"></app-catalog-apps>
  </div>
</div>
