* {
  // box-sizing: border-box;
}

html {
  color: rgb(94, 94, 94);
}

a {
  color: var(--color-fifth);
}

.vi-btn {
  border: solid 1px #efefef;
  background-color: white;
  border-radius: 6px;
  min-width: 160px;
  padding: 22px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
  text-transform: uppercase;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  -webkit-filter: grayscale(100%) url('grayscale-filter.svg');
  filter: grayscale(100%) url('grayscale-filter.svg');
}
