.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(255, 0, 0, .1);

  app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  app-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .5s;
    z-index: 10;

    &.hidden {
      transform: translateX(100vw);
    }
  }
}
