<div class="wrap" @pageAnimation>
  <div class="inner">
    <div *ngFor="let category of categories" class="category">
      <h3>{{category?.name}}</h3>
      <!-- <p>{{category?.description}}</p> -->
      <div *ngFor="let goodGroup of category.goodGroups; let goodGroupLast = last" class="good-group">
        <h4>{{goodGroup.name}}</h4>
        <div class="goods">
          <app-catalog-apps-item *ngFor="let good of goodGroup.goods; let goodLast = last" [goodGroup]="goodGroup"
            [good]="good">
          </app-catalog-apps-item>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="wrap" @pageAnimation>
    <app-catalog-apps-item *ngFor="let category of categories; let index = index" [category]="category"></app-catalog-apps-item>
  </div>
</div> -->
